.gradle
.idea
.qodana
build
openai.key
.run
chain.crt
*.pem
api.log.json
*.log.java
*.log
api.*
.skynet.bak
settings.gradle.kts
tokens
html-games.iml
*.iml
test-recordings/
*.index.data
*.parsed.json
.intellijPlatform
.kotlin/
user-sessions/
