:root {
    --primary-bg-color: #f7f7f7;
    --secondary-bg-color: #ffffff;
    --primary-text-color: #333;
    --secondary-text-color: #555;
    --link-color: #0066cc;
    --link-hover-color: #0044aa;
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    margin: 0;
    padding: 0;
    overflow: clip;
}

#messages {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 10px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--secondary-bg-color);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
}

.chat-input {
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
    resize: vertical;
    flex: 1;
    border: 1px solid #ddd;
    box-shadow: var(--box-shadow);
}

#main-input {
    align-items: flex-start;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    width: 100%;
}

#session {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.reply-form {
    width: 100%;
}

.reply-input {
    resize: vertical;
}

.href-link {
    text-decoration: none;
    color: var(--link-color);
    transition: color var(--transition-speed);
}

.href-link:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

#message {
    flex-grow: 1;
    margin-right: 5px;
}

.message-container {
    position: relative;
}

#disconnected-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

#disconnected-overlay p {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 20px;
    animation: bounce var(--transition-speed) infinite alternate;
    left: 10%;
    position: relative;
    color: firebrick;
}

.spinner-border {
    display: block;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--link-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#toolbar, #namebar {
    background-color: var(--secondary-bg-color);
    padding: 5px;
    position: fixed;
    top: 0;
    text-align: left;
    box-shadow: var(--box-shadow);
}


#toolbar {
    width: 100%;
    z-index: 2;
}


#namebar {
    z-index: 3;
    right: 0;
}

#toolbar a, #namebar a {
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 5px;
    transition: background-color var(--transition-speed);
}

#toolbar a:hover, #namebar a:hover {
    background-color: var(--secondary-text-color);
    color: var(--secondary-bg-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--secondary-bg-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.close {
    color: var(--secondary-text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--primary-text-color);
}

pre {
    white-space: pre-wrap;
}

.play-button, .cancel-button {
    font-size: 48px;
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform var(--transition-speed);
    text-decoration: none;
}

.cancel-button {
    right: 0;
    position: absolute;
}

.play-button:focus, .cancel-button:focus {
    outline: none;
}

.play-button:active, .cancel-button:active {
    transform: scale(0.9);
}

.error {
    color: red;
}

.verbose {
    display: block;
}

.verbose-hidden {
    display: none;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.initial-prompt {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-message {
    background-color: #e6f7ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
